@import '../theme.module.scss';

.projects {

    background-image: url("../../media/starbackground.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    
    h1 {
        @include headerStyle();
    }
    
    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 19px;
        color: rgb(225, 171, 250);
        padding: 0px;
    }

    .myLinks {
        margin-top: 25px;
        text-align: center;

        a {
            margin: 10px;
            font-size: 25px;
        }

        a:link {
            text-decoration: none;
            color: rgb(223, 187, 240);
        }
          
        a:visited {
            text-decoration: none;
            color: rgb(223, 187, 240);
        }
          
        a:hover {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
          
        a:active {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        @media (max-width: 768px) {
            .projectCard {
                flex: 1 1 calc(50% - 16px); /* Adjust the width for smaller screens */
                }
            }
        
            @media (max-width: 480px) {
            .projectCard {
                flex: 1 1 calc(100% - 16px); /* Adjust the width for even smaller screens */
                margin: 8px 0; /* Adjust the margin for smaller screens */
                }
            }
    }
    .projectCard {
        background: rgb(0, 0, 0);
        width: calc(33.33% - 16px);
        min-height: 311px;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        border: 1px outset rgb(255, 255, 255);
        margin: 8px;
        margin-top: 50px;
        box-sizing: border-box;
        -webkit-filter: drop-shadow(5px 5px 5px 15px white);
        filter: drop-shadow(5px 5px 15px white);
        
        img {
            display: block;
            max-width: 100%;
            min-height: 167px;
            margin: 0 auto;
        }
        h2,
        p,
        a {
            text-align: center; /* Center the text */
            margin: 10px 20px; /* Adjust margin for spacing */
        }

        a {
            display: block; /* Make the link fill the width */
            text-decoration: none;
            color: rgb(255, 255, 255);

            &:hover {
            text-decoration: underline;
            }
        }

        a:link {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        
        a:visited {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        
        a:hover {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
        
        a:active {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
    }
}