@import '../theme.module.scss';

.projects {

    background-image: url("../../media/starbackground.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    
    h1 {
        @include headerStyle();
    }
    
    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 19px;
        color: rgb(225, 171, 250);
        padding: 0px;
    }

    .myLinks {
        margin-top: 25px;
        text-align: center;

        a {
            margin: 10px;
            font-size: 25px;
        }

        a:link {
            text-decoration: none;
            color: rgb(223, 187, 240);
        }
          
        a:visited {
            text-decoration: none;
            color: rgb(223, 187, 240);
        }
          
        a:hover {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
          
        a:active {
            text-decoration: underline;
            color: rgb(255, 255, 255);
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        // @media screen and (max-width: 1049) {
        //     flex-direction: column;
        // }
    }
    .projectCard {
        background: rgb(0, 0, 0);
        width: 400px;
        min-height: 311px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px outset rgb(255, 255, 255);
        margin: 8px;
        margin-top: 50px;
        -webkit-filter: drop-shadow(5px 5px 5px 15px white);
        filter: drop-shadow(5px 5px 15px white);
        img {
            max-width: 300px;
            min-height: 167px;
        }
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a:link {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
      
    a:visited {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
      
    a:hover {
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }
      
    a:active {
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }

}