@import '../theme.module.scss';

.info {

    background-image: url("../../media/starbackground.jpg");
    background-size: cover;
    height: calc(100vh - 80px);

    .aboutMe {
        color: white;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.479);
    }

    h1 {
        @include headerStyle();
    }

    p {
        font-style: italic;
        padding: 2px;
        font-size: 18px;
    }

    img {
        margin-top: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}