@import '../theme.module.scss';

.cv {

    background-image: url("../../media/cvpage.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;

    h1 {
        @include headerStyle();
    }

    .cvHeader {
        font-size: 25px;
        color: rgb(255, 255, 255);
        text-shadow: 3px 3px #575757;
    }

    .cvLink {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    a {
        margin-top: 30px;
        display: block;
        width: fit-content;
    }

    a:link {
        text-decoration: none;
        color: rgb(223, 187, 240);
    }
      
    a:visited {
        text-decoration: none;
        color: rgb(223, 187, 240);
    }
      
    a:hover {
        text-decoration: underline;
        color: rgb(223, 187, 240);
    }
      
    a:active {
        text-decoration: underline;
        color: purple;
    }

}