@mixin headerStyle {
        text-align: center;
        font-size: 52px;
        color: rgb(170, 28, 236);
        text-shadow: 3px 3px #575757;
}

.intro {

    background-image: url("../media/image.jpg");
    background-size: cover;
    height: calc(100vh - 80px);

    h1 {
        @include headerStyle();
        filter: drop-shadow(1px 1px rgba(163, 163, 163, 0.493));
    }
}

.info {

    background-image: url("../media/image2.jpg");
    background-size: cover;
    height: calc(100vh - 80px);

    h1 {
        @include headerStyle();
    }

    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        color: rgb(170, 28, 236);
        padding: 0px;
    }

    img {
        margin-top: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.cv {

    background-image: url("../media/image3.jpg");
    background-size: cover;
    height: calc(100vh - 80px);

    h1 {
        @include headerStyle();
    }

    p {
        text-align: center;
        margin: 10px;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        padding: 0px;
    }

    a {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    a:link {
        text-decoration: none;
        color: purple;
    }
      
    a:visited {
        text-decoration: none;
        color: purple;
    }
      
    a:hover {
        text-decoration: underline;
        color: purple;
    }
      
    a:active {
        text-decoration: underline;
        color: purple;
    }

}

.projects {

    background-image: url("../media/image4.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    
    h1 {
        @include headerStyle();
    }
    
    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        color: rgb(170, 28, 236);
        padding: 0px;
    }

}

.social {

    background-image: url("../media/image5.jpg");
    background-size: cover;
    height: calc(100vh - 80px);

    h1 {
        @include headerStyle();
    }
    
    a {
        margin-top: 10px;
        display: block;
        width: fit-content;
    }

    a:link {
        text-decoration: none;
        color: purple;
    }
      
    a:visited {
        text-decoration: none;
        color: purple;
    }
      
    a:hover {
        text-decoration: underline;
        color: purple;
    }
      
    a:active {
        text-decoration: underline;
        color: purple;
    }
}