@mixin headerStyle {
        text-align: center;
        font-size: 52px;
        color: rgb(170, 28, 236);
        text-shadow: 3px 3px #575757;
}

.intro {

    background-image: url("../media/image.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    background-position: center;

    h1 {
        @include headerStyle();
        filter: drop-shadow(1px 1px rgba(163, 163, 163, 0.493));
    }
}

.info {

    h1 {
        @include headerStyle();
    }

    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        padding: 0px;
    }

    img {
        margin-top: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.cv {

    h1 {
        @include headerStyle();
    }

    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        padding: 0px;
    }
}

.projects {
    
    h1 {
        @include headerStyle();
    }
    
    p {
        text-align: center;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        padding: 0px;
    }

}

.social {

    h1 {
        @include headerStyle();
    }
    
    a {
        margin-top: 10px;
        display: block;
    }

    a:link {
        text-decoration: none;
    }
      
    a:visited {
        text-decoration: none;
    }
      
    a:hover {
        text-decoration: underline;
    }
      
    a:active {
        text-decoration: underline;
    }
}