.container {
    .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5rem;
        background-color: black;
    }

    .sidebarnav {
        width: 250px;
        height: 100vh;
        background-color: black;
        position: fixed;
        top: 0;
        transition: 350ms;
    }

    .navicon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5rem;
        font-size: 2rem;
        margin-left: 2rem;
    }
}    